





.pajamas--remove {transition: transform 0.3s ease, color 0.3s ease; display: inline-block; width: 1.2em; height: 1.2em; --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cpath fill='%23000' fill-rule='evenodd' d='M5.75 3V1.5h4.5V3zm-1.5 0V1a1 1 0 0 1 1-1h5.5a1 1 0 0 1 1 1v2h2.5a.75.75 0 0 1 0 1.5h-.365l-.743 9.653A2 2 0 0 1 11.148 16H4.852a2 2 0 0 1-1.994-1.847L2.115 4.5H1.75a.75.75 0 0 1 0-1.5zm-.63 1.5h8.76l-.734 9.538a.5.5 0 0 1-.498.462H4.852a.5.5 0 0 1-.498-.462z' clip-rule='evenodd'/%3E%3C/svg%3E"); background-color: currentColor; -webkit-mask-image: var(--svg); mask-image: var(--svg); -webkit-mask-repeat: no-repeat; mask-repeat: no-repeat; -webkit-mask-size: 100% 100%; mask-size: 100% 100%; }
.material-symbols--edit {
    display: inline-block;
    width: 1.2em;
    height: 1.2em;
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='M3 21v-4.25L16.2 3.575q.3-.275.663-.425t.762-.15t.775.15t.65.45L20.425 5q.3.275.438.65T21 6.4q0 .4-.137.763t-.438.662L7.25 21zM17.6 7.8L19 6.4L17.6 5l-1.4 1.4z'/%3E%3C/svg%3E");
    background-color: currentColor;
    -webkit-mask-image: var(--svg);
    mask-image: var(--svg);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
    transition: transform 0.3s ease, color 0.3s ease;
    
  }
  .pajamas--remove:hover, .material-symbols--edit:hover {
    transform: scale(1.2);
    cursor: pointer;
    color: rgba(255, 0, 128, 0.8); 
}


/* DATA CONTAINER - CSS pre dashboard */
.data-container{
    display: flex;
    flex-direction: column;
    border-radius: 40px;
    background-color: rgba(200,200,200,0.1);
    border:1px solid rgba(200,200,200,0.8);
    backdrop-filter: blur(20px);
    max-height:70dvh;
}
.whole{
    max-height: 50dvh;
    overflow-y: scroll;
    scrollbar-width: none;
    overflow-x: hidden;
}


.data-content{
    display:flex;
    flex-direction:row;
    font-size: 20px;
    padding:20px;
    color:white;
    align-items: center;
    justify-content: space-between;
    div{
       width: 100%;
       text-align: center;
    }
    div:nth-last-child(1){
        text-align: end;
    }
    div:nth-child(1){
        width: 30%;
       
    }
    div.full{
        width: 100% !important;
        text-align: start;
        margin-left: 20px;
    }
}

.data-content:nth-child(1) .data-icons{
    visibility: hidden;

}
.data-icons{
    margin-right: 10px;
}

.data-form{ 
    display:flex;
    flex-direction:column;
    margin-left:2dvw;
    margin-right: 2dvw;
    input[type="text"],input[type="password"]{
        all:unset;
        font-size: 15px;
        padding:10px;
        border:.5px solid white;
        border-radius: 15px;
    }
    input[type="date"] {
        cursor: pointer;
        width: 100%;              
        height: 40px;             
        padding: 10px;             
        font-size: 15px;           
        border-radius: 15px;        
        background-color: transparent; 
        color: black;   
        border:.5px solid black;  
        filter:invert(1); 
    }
    label{
        font-size: 12px;
        padding:5px;
    }
    input[type="submit"]{
        all:unset;
        background: linear-gradient(159deg, rgba(184,0,255,1) 0%, rgba(95,0,190,1) 100%);
        text-align: center;
        border-radius: 20px;
        padding: 10px;
        font-size: 15px;
    }
    input[type="submit"]:hover{
        cursor: pointer;
        transform: scale(1.1);

    }
    select {            
        cursor: pointer;
        width: 100%;              
        height: 40px;             
        padding: 10px;             
        font-size: 15px;           
        border-radius: 15px;        
        background-color: transparent; 
        color: black;   
        border:.5px solid black;  
        filter:invert(1);     
    }
    
  
 
}

.form-redirection{ 
    color:rgba(200,200,200,1);
    transition: transform .1s linear;
    text-align: center;
}
.form-redirection:hover{
    transform:scale(1.2);
}
.line{
    width: 100%;
    height: 2px;
    display: flex;
    justify-content: center;
}
.line::after{
    display: block;
    content:'';
    width: 80%;
    height: 100%;
    background: rgb(200,200,200);
background: linear-gradient(159deg, rgba(200,200,200,0) 0%, rgba(200,200,200,0.8) 50%, rgba(200,200,200,0) 100%);
}


.mdi--add {
    display: inline-block;
    width: 1em;
    height: 1em;
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6z'/%3E%3C/svg%3E");
    background-color: currentColor;
    -webkit-mask-image: var(--svg);
    mask-image: var(--svg);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
  }
.data-content-button{ 
    font-size: 20px;
    padding:20px;
    text-align: center;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
    background: rgb(200,200,200);
background: linear-gradient(0deg, rgba(200,200,200,1) 1%, rgba(200,200,200,0.5) 56%, rgba(200,200,200,0) 100%);
    margin-right: 0;
    padding-left: 40px;
    transition: background-color 1000ms linear;
}
.data-content-button:hover{ 
    color:white;
    background: linear-gradient(0deg, rgba(150,80,150,1) 1%, rgba(150,80,150,0.5) 56%, rgba(150,80,1050,0) 100%);
    cursor: pointer;

}
/* overall css pro celou webstranku*/
body{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    background-image: url('../img/background16x9.png');
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    height: 100vh; 
    margin: 0; 
}

.content{
     width: 80dvw;
     height:80dvh;
}
.nadpis{
    text-align:center;
}

.menu{ 
    position: absolute;
    top:0;
    width: 100dvw;
    padding-top: 20px;
    background: rgba(255, 255, 255, 0.15); /* Transparent white */
    padding-bottom:20px;
    backdrop-filter: blur(15px); /* Frosted glass effect */
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2); /* Soft shadow */
    border-bottom: 1px solid rgba(255, 255, 255, 0.2); /* Light border */
    display: flex;
    justify-content: center;
   
}
.menu-container{
    width: 100dvw;
}
.menu ul{
    list-style: none;
  display: flex;
  gap: 20px; /* Space between menu items */
  padding: 0;
  margin: 0;

}
.menu li{
    margin: 0;
}
.menu a{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.9);
    font-weight: 500;
    font-size: 1.1rem;
    transition: color 0.3s ease;
    padding: 10px 15px;
    border-radius: 8px;
}
.menu a:hover {
    color: #bfbfff; /* Slightly lighter color on hover */
    background: rgba(255, 255, 255, 0.2); /* Light background on hover *//* Slightly lighter color on hover */
  }


/* -------- POPUP ----------*/

.popup{ 
    position: absolute;
    width: 100dvw;
    height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,15,0.5);
}

